<p id="notice"><%= notice %></p>

<h1>Survey Data</h1>

<table class="table table-hover table table-bordered table table-condensed table-responsive">
  <thead>
    <tr>
      <th>State</th>
      <th>City</th>
      <th>Geography</th>
      <th>Name</th>
      <th>Phone no</th>
      <th>Address</th>
      <th>Number of family member</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Caste</th>
      <th>Family montly income</th>
      <th>Occupation</th>
      <th>Monthly recharge spend</th>
      <th>Internet usage</th>
      <th>Hospital</th>
      <th>School</th>
      <th>Vehicle</th>
      <th>Computer usage</th>
      <th>Whatsup usage</th>
      <th>Email</th>
      <th>Mobile phone</th>
      <th>Facebook account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_data.each do |survey_datum| %>
      <tr>
        <td><%= survey_datum.state %></td>
        <td><%= survey_datum.city %></td>
        <td><%= survey_datum.geography %></td>
        <td><%= survey_datum.name %></td>
        <td><%= survey_datum.phone_no %></td>
        <td><%= survey_datum.address %></td>
        <td><%= survey_datum.number_of_family_member %></td>
        <td><%= survey_datum.gender %></td>
        <td><%= survey_datum.age %></td>
        <td><%= survey_datum.caste %></td>
        <td><%= survey_datum.family_montly_income %></td>
        <td><%= survey_datum.occupation %></td>
        <td><%= survey_datum.monthly_recharge_spend %></td>
        <td><%= survey_datum.internet_usage %></td>
        <td><%= survey_datum.hospital %></td>
        <td><%= survey_datum.school %></td>
        <td><%= survey_datum.vehicle %></td>
        <td><%= survey_datum.computer_usage %></td>
        <td><%= survey_datum.whatsup_usage %></td>
        <td><%= survey_datum.email_id %></td>
        <td><%= survey_datum.mobile_phone %></td>
        <td><%= survey_datum.facebook_account %></td>
        <td><%= link_to 'Show', survey_datum %></td>
        <td><%= link_to 'Edit', edit_survey_datum_path(survey_datum) %></td>
        <td><%= link_to 'Destroy', survey_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey Datum', new_survey_datum_path %>
