<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @survey_datum.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @survey_datum.city %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @survey_datum.geography %>
</p>

<p>
  <strong>Name:</strong>
  <%= @survey_datum.name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @survey_datum.phone_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @survey_datum.address %>
</p>

<p>
  <strong>Number of family member:</strong>
  <%= @survey_datum.number_of_family_member %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @survey_datum.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survey_datum.age %>
</p>

<p>
  <strong>Caste:</strong>
  <%= @survey_datum.caste %>
</p>

<p>
  <strong>Family montly income:</strong>
  <%= @survey_datum.family_montly_income %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @survey_datum.occupation %>
</p>

<p>
  <strong>Monthly recharge spend:</strong>
  <%= @survey_datum.monthly_recharge_spend %>
</p>

<p>
  <strong>Internet usage:</strong>
  <%= @survey_datum.internet_usage %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @survey_datum.hospital %>
</p>

<p>
  <strong>School:</strong>
  <%= @survey_datum.school %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @survey_datum.vehicle %>
</p>

<p>
  <strong>Computer usage:</strong>
  <%= @survey_datum.computer_usage %>
</p>

<p>
  <strong>Whatsup usage:</strong>
  <%= @survey_datum.whatsup_usage %>
</p>

<p>
  <strong>Email:</strong>
  <%= @survey_datum.email_id %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @survey_datum.mobile_phone %>
</p>

<p>
  <strong>Facebook account:</strong>
  <%= @survey_datum.facebook_account %>
</p>

<%= link_to 'Edit', edit_survey_datum_path(@survey_datum) %> |
<%= link_to 'Back', survey_data_path %>
